body {
  font-family: Arial, Helvetica, sans-serif;
  width: 480px;
  margin: 0px auto;
  font-size: 30px;
  text-align: center;
}
p {
  display: block;
  top: 35%;
  margin: 0px;
  position: relative;
}